.logo--red{
    color: #a6120d;
}

.logo--orange{
    color: #e34c26 ;
}
.logo--orange--git{
    color: #F1502F ;
}
.logo--blue{
    color: #264de4 ;
}

.logo--blue--w{
    color: #00749c ;
}

.logo--blue--r{
    color: #61dbfb ;
}
.logo--yellow{
    color: #f7df1e;
}
.logo--green--node{
    color: #3c873a;
}
.logo--green--vue{
    color: #41B883;
}
.logo--purple--b{
    color: #563d7c;
}
.logo--purple--php{
    color: #787CB5;
}
.logo--pink{
    color:#c69 ;
}