.header{
    width: 100%;
   
    position: fixed;
    z-index: 1;

    background-color: var(--ct--red--black);
    box-shadow: 0 5px 10px var(--c--red--black);

}
.contenedor__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}
.logotipo{
    display: flex;
    align-items: center;
    gap: 1em;
}
.logo{
    color: aliceblue;
    width: 5em;
}
.title{
    font-size: 2.5em;
    padding: 0;
}
.nav{

}
.link{
    font-size: 1em;
    padding: 1em;
    transition: color .3s ease;
}

.link:hover{
    color: var(--c--red--primary);
    transition: .3s ease;
}

@media (max-width: 900px) {
    .contenedor__header{
       flex-direction: column;
    }
}