.modal{
    width: 100% ;
    height: calc(100vh) ;
    position: fixed;
    background-color: rgba(41, 41, 41, 0.8);
    backdrop-filter: blur(5px) ;
    top: 0;
    left: 0;
    z-index: 5;
}
.contain__modal{
    display: flex;
    flex-direction: column;
    padding: 3em 0;
    max-width: 45em;
    margin: 0 auto;
}
.contain__img{
}
.contain__info{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 2em;
}

.tipo{
    background-color: rgb(102, 101, 180);
    padding: .5em;
    border-radius: 20px;
    text-align: center;
    width: 8em;
    text-transform: uppercase;
}
.text{

}

.img{
    display: block;
    width: 100%;
    margin: 0 auto;
}

.close{
    font-size: 2em;
    background-color: black;
    display: block;
    width: 1.5em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 2em;
    cursor: pointer;
    right: 2em;

}

.close::after{
    content: "x";

}

.botones{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.btn{
    background-color: var(--c--red--black);
   
    padding: .8em;
    width: 100%;
    text-align: center;
}

.btn:first-child{
    background-color: var(--c--red--primary);
}