.proyects{
    background: linear-gradient(180deg, var(--c--red--black) 0%, var(--c--red--secondary) 100%);
    min-height: 100vh;
}

.contenedor__proyects{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    gap: 2em;
}

.btn{
    grid-column: 2 / 2;
}

.card{
    height: 22em;
}
